h1{
    font-size: 4rem;
    color: #FFF;
    margin: 0px;
   
}
h5{
    color: #FFF;
}
body{
    height: 100vh;
}
main.container-fluid{
    background-color: #FAD79E;
}

footer.container-fluid{
    background-color: #FAD79E;
}

.btn {
    background-color: #3F3D56;
    border: #3F3D56;
}
.btn:hover{
    background-color: #010b40;
    border: #3F3D56;
}
.btn:active{
    background-color: #3F3D56;
    border: #3F3D56;
}


.fas{
    font-size: 1.5rem;
    color: #F5B44B;
}
.fa-hand-holding-usd{
    font-size: 5rem;
    margin: 10px;
}
.finance-theme{
    background-color: #3F3D56;
}

